<a href="https://colab.research.google.com/github/iamedgomes/Instagram/blob/main/Visualiza%C3%A7%C3%A3o_de_dados_com_Python_parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd;

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

    Province/State      Country/Region        Lat  ...  10/23/20  10/24/20  10/25/20
0              NaN         Afghanistan  33.939110  ...     40687     40768     40833
1              NaN             Albania  41.153300  ...     18556     18858     19157
2              NaN             Algeria  28.033900  ...     55630     55880     56143
3              NaN             Andorra  42.506300  ...      4038      4038      4038
4              NaN              Angola -11.202700  ...      8829      9026      9381
..             ...                 ...        ...  ...       ...       ...       ...
262            NaN  West Bank and Gaza  31.952200  ...     49579     49989     50442
263            NaN      Western Sahara  24.215500  ...        10        10        10
264            NaN               Yemen  15.552727  ...      2060      2060      2060
265            NaN              Zambia -13.133897  ...     16095     16117     16117
266            NaN            Zimbabwe -19.015438  ...      8257      8269      8276

[267 rows x 282 columns]

In [12]:
a = 2
print (a)

2